<nav class="nav">
    <div class="nav-links">
        <a href="/" class="nav_link">Головна</a>
    </div>
    
    <div class="nav-links">
        {if $user}
            <a href="/logout?token={$csrf_token}" class="nav_link" 
               onclick="return confirm('Ви впевнені, що хочете вийти?')">Logout</a>
        {else}
            <a href="/login" class="nav_link">Login</a>
        {/if}
    </div>
</nav>  